# Database credentials
POSTGRES_HOST=**POSTGRES HOST IP**
POSTGRES_USER=**POSTGRES USERNAME**
POSTGRES_PASSWORD=**POSTGRES PASSWORD**
POSTGRES_DB=**POSTGRES DB NAME**
POSTGRES_PORT=**POSTGRES PORT**

PORT=**PORT**
CLIENT_ORIGIN=http://localhost:3000

TOKEN_EXPIRED_IN=60m # This is multiplied in code to give 30 days for prod.
TOKEN_MAXAGE=60      # This is multiplied in code to give 30 days for prod.

TOKEN_SECRET=**TOKEN SECRET**

EMAIL_FROM=**EMAIL FROM**
SMTP_HOST=**SMTP HOST**
SMTP_USER=**SMTP USERNAME**
SMTP_PASS=**SMTP PASSWORD**
SMTP_PORT=**SMTP PORT**

# Project Name: github.com/W5DEV/go-recipe-api
